/*------- Footer Details --------*/

.--light {
  background-color: $celsius-white;
  color: $celsius-purple;
  a {
    color: $celsius-purple;
  }
}
.--medium {
  background-color: lighten($celsius-purple, 10%);
}

.footer-hours {
  margin-bottom: 1em;
}

.footer-details p {
  @include matrix-ii-bold;
  @include font-size(3);
  //width: 50%;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.2;
}


.footer-label {
  text-transform: uppercase;
  letter-spacing: .15em;
  @include font-size(1.4);
  margin-top: 4em;
  font-weight: 400;
}

@media (min-width:600px) {
  .footer-details .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
  }
}

@media (min-width: 1000px) {
  .footer-details .container {
    grid-template-columns: 1fr 1fr 1fr;
    > div {
      margin-top: -3em;
    }
  }
  .footer-family {
    grid-column: 3;
  }
  .footer-hours,
  .footer-location {
    grid-row: span 2;
  }
}

.family-logo {
  img {
    max-width: 250px;
  }
}

/*------- Main Footer Section -------*/

.footer-section__main .container {
  display: grid;
  text-align: center;
  padding-bottom: 4vw;
}

.footer-13logo img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
.footer-wordmark img {
  max-width: 200px;
  display: block;
  margin: 1em auto 0;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icon {
  display: inline-block;
  @include font-size(3.6);
  margin: 30px 15px 0;
}

@media (min-width: 600px) {
  .footer-section__main .container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2em;
  }
  .footer-social {
    order: 3;
  }
}

.footer-newsletter {
  label, input {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
  label {
    text-align: left;
  }
}



/*------- Footer Nav --------*/

.footer-nav {
  margin: 3em auto 1em;
  //max-width: 1200px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display:flex;
    justify-content: space-around;
    @include sans();
    letter-spacing: .1em;
    @include font-size(1.2);
    @media (max-width: 700px) {
      flex-wrap: wrap;
    }
    li {
      margin: 10px;
      a {
        @include link-underline(1px);
      }
    }
  }
}

.text-link {
  @include sans-bold();
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;
  cursor: pointer;
  &::after {
    content: " ";
    background-color: $celsius-white;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    right: 0;
    overflow: hidden;
    transition: width .25s ease-in-out; //transform: translateX(-100%);
  }
  &:hover {
    .link-arrow {
      transform: translateX(0);
      opacity: 1;
    }
    &::after {
      width: 100%;
      left: 0;
    }
  }
}

.site-info {
  text-align: center;
  @include font-size(1.2);
  margin: 1em;
}