.custom-logo {
  width: 150px;
  margin: 15px;
}
.site-branding {
  float: left;
  max-width: 50%;
  .home & {
    display: none;
  }
}
.site-header {
  position:absolute;
  width: 100%;
  z-index: 1000;
}


/*--------------------------------------------------------------
Mastheads
--------------------------------------------------------------*/

.masthead {
  width: 100vw;
  max-width: 100%;
  position: relative; //position: fixed;
  background-color: lighten($celsius-purple, 5%);
  background-blend-mode: multiply;
}

.masthead--home {
  height: 90vh;
}

.masthead--page {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    min-height: 450px;
  }
}

.masthead__content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.masthead__title {
  @include matrix-ii();
  //text-transform: uppercase;
  letter-spacing: .02em;
  line-height: 1.2;
  @include font-size(3.2);
  margin: 0;
  max-width: 800px;
}

.masthead__intro {
  line-height: 1.6;
  max-width: 800px;
}

@media (min-width: 800px) {
  .masthead__title {
    @include font-size(6.4);
  }
  .masthead__intro {
    @include font-size(2);
  }
}

.masthead__logo {
  width: 400px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 600px) {
    top: 30%;
    max-width: 300px;
  }
}

.masthead__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  width: 100%;
  height: 100%;
  @include font-size(1.8);
  @include matrix-ii-bold();
  
  @media (min-width: 600px) {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    @include font-size(2.6);
  }
}

.masthead__label {
  @include sans();
  @include font-size(1.4);
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-bottom: 0.3em;
}

.masthead__hours,
.masthead__location {
  margin-top: 1em;
  p {
    margin: 0;
    font-weight: 300;
    letter-spacing: .01em;
  }
}

.masthead__hours {
  @media(min-width: 600px) {
    text-align: right;
  }
}