.custom-logo {
  width: 150px;
  margin: 15px;
}
.site-branding {
  float: left;
  max-width: 50%;
  .home & {
    display: none;
  }
}
.site-header {
  // display: flex;
  // justify-content: space-between;
  position:fixed;
  width: 100%;
  z-index: 1000;
}
