.main-navigation {
	//clear: both;
	//display: block;
	//float: left;
	//width: 100%;
  float: right;
  @include termina-bold();
  letter-spacing: 2px;
  text-transform: uppercase;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
    padding: 10px;
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
  background: none;
  border: none;
  padding: 0;
  color: $celsius-white;
  @include termina-bold();
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px;
  padding: 15px 15px 12px;
  float: right;
  transition: .125s all ease-in-out;
  .toggled &,
  &:hover, &:active, &:focus {
    background-color: $celsius-white;
    color: $celsius-purple;
  }
}

@media screen and (max-width: 52em) {
  .main-navigation ul {
    clear: both;
    background-color: $celsius-white;
    width: 100%;
  }
  .main-navigation {
    float: none;
  }
  .main-navigation li {
    float: none;
  }

  .main-navigation a {
    color: $celsius-purple;
    &:hover, &:active, &:focus {
      color: lighten($celsius-purple, 10%);
    }
  }
  .current-menu-item {
    background-color: lighten($celsius-purple, 10%);
    a {
      color: $celsius-white;
    }
  }
}

@media screen and (min-width: 52em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
    margin: 30px 45px;
	}
}

@media screen and (max-width: 56em) {
  .main-navigation {
    @include font-size(1.1);
    margin-left: 0;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
