@media (min-width: 800px) {
  .blog-grid {
    //display: grid;
    //grid-template-columns: 2fr 1fr;
    //grid-gap: 3em;
  }
}

.widget-title {
  @include font-size(2);
}

.widget ul {
  margin: 0 0 1.5em 0;
}

.post .entry-footer {
  font-size: 75%;
  span {
    margin-right: 1em;
  }
}

.masthead__date,
.entry-date {
  @include sans();
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.masthead__date {
  margin-bottom: 1em;
}

.entry-title {
  @include matrix-ii();
  font-size: 300%;
  
  line-height: 1.2;
  a { 
    text-decoration: none;
    @include link-underline;
  }
  margin: 0;
}
.entry-content {
  margin-top: 0;
}

article.post {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba($celsius-white, .25);
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
  }
}

.entry-header {
  grid-column: span 5;
}
.entry-content {
  grid-column: span 7;
}
.entry-footer {
  grid-column: span 12;
}