.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
Mastheads
--------------------------------------------------------------*/

.masthead {
  width: 100vw;
  max-width: 100%;
  height: 90vh;
  position: relative;
  //position: fixed;
  background-color: lighten($celsius-purple, 10%);
  background: linear-gradient(to top, rgba($celsius-purple, 0.5), rgba($celsius-purple, 0.5)),  url('https://picsum.photos/1920/1080/?random');
  background-blend-mode: multiply;
  background-size: cover;
}

.masthead__logo {
  width: 400px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.masthead__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  width: 100%;
  height: 100%;
  @include termina();
  @media (min-width: 600px) {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
}

.masthead__hours,
.masthead__location {
  margin-top: 1em;
  p {
    margin: 0;
  }
}

.masthead__hours {
  @media(min-width: 600px) {
    text-align: right;
  }
}


/*---------- Page Sections ----------*/

$block-break: 'min-width: 600px';

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10vw 0 12vw;
  @media ($block-break) {
    padding: 8vw 0;
  }
}

@media ($block-break) {
  .home-block:nth-of-type(even) {
    .home-block__heading {
      order: 2;
      text-align: right;
    }
  }
}

.home-block__wrapper {
  @media ($block-break) {
    display: flex;
    align-items: center;
    min-height: 400px;
  }
}

.home-block__heading,
.home-block__content {
  @media ($block-break) {
    width: 50%;
  }
}

.home-block__heading {
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1;
}
.home-block__content {
  line-height: 2;
}

@media (min-width: 1000px) {
  .home-block__heading {
    @include font-size(2.4);
  }
  .home-block__content {
    @include font-size(2);
  }
}

.home-block.--has-bg-image {
  background-color: lighten($celsius-purple, 10%);
  background: linear-gradient(to top, rgba($celsius-purple, 0.65), rgba($celsius-purple, 0.65)),
  var(--background-url);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.link-arrow {
  display: inline-block;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .25s ease-in-out;
}

.text-link {
  @include link-animation();
}

.home-events__heading {
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1;
  @media (min-width: 1000px) {
    @include font-size(2.4);
  }
}
.home-events__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  //grid-auto-flow: column;
  grid-gap: 3em;
}

.home-event {
  //margin-bottom: 1em;
  border-top: 2px solid $celsius-white;
  
}
.home-event__date {
  background-color: $celsius-white;
  color: $celsius-purple;
  width: 75px;
  height: 75px;
  text-align: center;
  padding-top: 10px;
  margin: 0 15px 15px 0;
  float: left;
}
.date__month,
.date__day {
  display: block;
}

.date__month {
  @include termina-bold();
}
.date__day {
  @include font-size(3);
  line-height: .7;
}

.event__heading, .event__description {
  clear: none;
}